<nav class="navbar fixed-top main-color">
    <div class="container">
      <a class="navbar-brand" href="/todos/home-page">Focus Sprint</a>
      <div class="d-flex align-items-center gap-3">
        {% if user %}
          <a class="nav-link text-white" href="/todos/home-page">Home</a>
          <a class="nav-link text-white" href="/todos/todo-page">Todo</a>
          <a class="btn btn-outline-light text-white btn-sm" onclick="logout()">Logout</a>
        {% endif %}
      </div>
    </div>
  </nav>